* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url('../images/bg-01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 2em;
}


.icon_check {
    display: none;
}


header nav {
    width: 97%;
    height: 80px;
    background-color: rgb(99, 99, 98);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    opacity: .8;
    margin: 0 auto;
}

header nav img {
    width: 8%;
}

header nav ul {
    display: flex;

}

nav ul li {
    margin: 0 20px;
    list-style: none;
    padding: 8px;
}

nav ul li:hover {
    border-bottom: 3px solid yellow;
    border-right: 3px solid yellow;
    transition: .5s;
}



nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}


/* Responsive nav y banner */
@media(width <=967px) {
    nav ul{
        
    }
}






    /* Seccion del Banner */
    .banner {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }



    .banner img {
        width: 32%;
    }


    .banner .title {
        width: 50%;
    }

    .title h1 {
        font-size: 6em;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .title h1 small {
        color: white;
    }






    /* SECCION DE SERVICIOS */
    .services {
        width: 100%;
        /* background-color: rgb(247, 247, 247); */
        display: flex;
        padding: 3em;
        flex-direction: column;
    }

    .services .title {
        width: 40%;
        border-bottom: 2px solid blue;
        margin-bottom: 2em;
    }

    .services h2 {
        color: rgb(0, 0, 0);
    }

    .services .servis {
        display: flex;
        justify-content: space-around;

    }

    .services article {
        width: 280px;
        height: 350px;
        margin: 5px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        background-color: orange;
    }



    /* SECCION DEL MENSAJE */
    .message {
        width: 90%;
        height: 40vh;
        padding: 1em 10em;
        display: flex;
        justify-content: center;
        background-image: url('../images/bg-01.jpg');
        background-size: cover;
        background-position: center;
        align-items: center;
        margin: 0 auto;
    }

    .message h2 {
        font-family: "Poetsen One", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: white;
        font-size: 4em;
        text-shadow: 2px -4px red;
    }


    .blog {
        width: 90%;
        margin: 2em auto;
    }


    .blog div {
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: space-around;
        margin: 2em 0;
    }

    .blog div article {
        width: 50%;
        height: 50vh;
        margin: 1em;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .blog div article h2 {
        font-size: 2em;
        line-height: 2em;
        font-family: "Poetsen One", sans-serif;
    }

    .blog div article p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1em;
        line-height: 2em;
    }


    .bg-2 {
        background-image: url('../images/bg-2.jpg');
        background-size: cover;
        background-position: center;
    }

    .bg-3 {
        background-image: url('../images/bg-2.jpg');
        background-size: cover;
        background-position: center;
    }




    /* SECCION DE CONTACTANOS */

    .contacts {
        width: 90%;
        display: flex;
        margin: 0 auto;
    }


    .contacts div {
        width: 50%;
        height: 80vh;
        margin: .2em;
    }

    form {
        padding: 20px;
    }

    .form-control {
        width: 100%;
        margin: 2em 0;

    }

    .form-control label {
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1em;
    }

    .form-control input {
        width: 100%;
        height: 3em;
        border: none;
        border-bottom: 1px solid black;
        font-size: 13px;
    }

    .form-control textarea {
        width: 100%;
        resize: none;
        height: 5em;
        border: none;
        border-bottom: 1px solid black;
    }

    .btn {
        width: 100%;
        display: flex;
        justify-content: end;
    }


    .btn button {
        width: 40%;
        height: 4em;
        background-color: blue;
        color: white;
        border: none;
        cursor: pointer;
    }


    .btn button:hover {
        background-color: rgb(84, 84, 227);
        color: white;
    }


    /* SECCION DEL FOOTER */

    footer {
        width: 100%;
        height: 50vh;
        background-color: black;
    }






    /* Responsive nav y banner */
    @media(width <=967px) {

        header {
            padding-top: 0;
        }

        header nav {
            position: fixed;
            width: 100%;
            
            opacity: 5;
        }


        header nav img {
            width: 16%;
        }

        header nav ul {
            width: 100%;
            height: 100vh;
            background-color: black;
            position: absolute;
            left: -100%;
            top: 0px;
            flex-direction: column;
            padding-top: 3em;
        }


         header nav ul li{
           margin-top: 3em;
        }

        .icon_check {
            color: white;
            font-size: 2em;
            display: block;
        }



        .banner img {
            display: none;
        }

        .banner {
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .banner h1 {
            color: blue;
            font-size: 3em;
        }


        .services .servis {
            flex-direction: column;
        }

        .services .servis article {
            width: 100%;
            margin: 5px auto;
        }



        .blog {
            width: 70%;
            margin: none;
            text-align: justify;
            padding: 0;
        }

        .blog div {
            flex-direction: column;
            justify-content: center;

        }



        .blog div article {
            width: 100%;
            height: 50vh;
            margin: none;
        }
    }