* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.nav_responsive {
    display: none;
}

.label_check {
    display: none;
}

.input_check {
    display: none;
}

header {
    width: 100%;
    height: 100vh;
    padding-top: 2em;
    background-image: url('https://images.unsplash.com/photo-1718174405504-6c65225786de?q=80&w=1376&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

nav {
    width: 90%;
    height: 4em;
    background: black;
    margin: auto;
    display: flex;
    justify-content: end;
    align-items: center;
    border-bottom: 2px solid blue;
}


nav ul {
    display: flex;
}

nav ul li {
    margin-right: 2em;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
}



.message {
    width: 80%;
    display: flex;
    justify-content: start;
    margin-left: 3em;
}

.message h2 {
    font-size: 4em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 10px 10px 8px blue, 3px 3px 3px rgb(0, 0, 0);
    color: white;
}


.servicios {
    width: 100%;
    height: 200vh;
    background-color: gray;
}

/* Responsive */

@media(width<=940px) {


    .nav_responsive {
        display: block;
        width: 100%;
        height: 4em;
        background-color: black;
        display: flex;
        justify-content: space-between;
        padding: 3px 1em;
        position: fixed;
        z-index: 2;
    }

    .nav_responsive img {
        width: 15%;
    }

    .btn_input_check{
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    } 
    
    .label_check {
        display: block;
        color: rgb(255, 255, 255);
    }

   

    header {
        padding-top: 0;
    }

    nav {
        width: 100%;
        height: 100vh;
        justify-content: center;
        text-align: center;
        position: fixed;
        left: -100%;
        opacity: .8;

    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin-bottom: 2em;
        font-size: 1.3em;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 2px 1.3em;
    }


    #btn_checked:checked~nav {
        left: 0;
        transition: all .5s;
    }



}